* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
html, body {
  width:100vw;
  height:100vh;
}
html {
  background: black;
}
body {
  /* padding: 30px; */

  font-family: Helvetica, Arial, sans-serif;

  background-image: url("background-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity:1;
  animation: fadein 1s ease-in;
  animation-iteration-count: 1
}
/* Position the navbar container inside the image */
nav {
  display:flex;
  justify-content: space-around;
  width: 100vw;
  text-decoration: none;
  align-content: center;
}
nav a {
  margin: 30px 2vw;
  color: #3fff00;
  border: 2px solid #3fff00;
  border-radius: 15px;
  text-decoration: none;
  font-size: 2em;
  padding: 2vh 8vw;
}
nav a:hover {
  background-color: white;
  cursor:pointer;
}
h1 {
  margin: 10px 10px;
  font-size: 2em;
  color: #3fff00;
  font-weight: normal;
}
.title {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.popup {
  z-index:5;
  position:absolute;
  top:51%;
  left:50%;
  transform: translate(-50%,-50%);
  background:rgba(0,0,0,0.75);
  width:calc(95vw - 20px);
  height:calc(94vh - 120px - 4em);
  visibility:hidden;
  overflow-y:scroll;
  overflow-x: hidden;

  padding:30px;
}
.popup-overlay {
  z-index: 0;
  position: absolute;
  top:0;
  left:0;
  visibility:hidden;
  width:100vw;
  height:100vh;
}

/* Popup inner div */
p {
  text-indent: 1.5em;
  color:#3fff00;
  font-size: 1.5em;
}
#research a {
  color:#3fff00;
  font-size: 1.5em;
  text-shadow: 0 0 3em #efffe0;
}
#research a:hover {
  font-size: 2em;
}
#archive .keywords {
  display:flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
#archive .keyword {
  color:#3fff00;
  font-size: 1.5em;
  text-align: left;
}
#archive .keyword:hover #archive .month:hover {
  cursor:pointer;
}
.keyword .month {
  padding-left: 1.5em;
  padding-top: 0.5em;
}
.gallery {
  width:100%;
  height:100%;
}
.gallery img {
  margin:0;
  padding:0;
  width: 100%;
  height:60px;
  object-fit: cover;
  display:block;
}
.gallery .image {
  position:relative;
}
.gallery .image:hover {
  cursor:pointer;
}
.text {
  position:absolute;
  top:0;
  padding:10px;
  color:#3fff00;
  font-size: 35px;
  line-height: 1.5em;
  text-align: left;
  overflow:hidden;
}

@keyframes fadein { 
  0% { 
    opacity:0;
  } 100% { 
    opacity:1; 
  } 
}


